

<div class="d-flex flex-column vh-100 bg-white">
  <div class="container-fluid row pr-0" style="min-height: 100vh;">
      <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="w-75">
              <form class="form rounded-lg p-3 p-md-5"
                  autocomplete="off" [formGroup]="loginForm" (submit)="logarUsuario()">

                  <div class="box-login">
                      <!-- <img class="mb-3" src="../../../../assets/logo-autoglass-2.png" alt="logo"/> -->
                      <p>Realize seu login para continuar.</p>
                      <div>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="bi bi-person"></i>
                                  </span>
                              </div>
                              <input formControlName="email" class="form-control" type="text" placeholder="Usuário"
                                  name="username" autocomplete="off" class="form-control">
                          </div>
                          <div class="input-group mt-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="bi bi-key"></i>
                                  </span>
                              </div>
                              <input formControlName="senha" class="form-control" type="password" placeholder="Senha"
                                  name="password" autocomplete="off" class="form-control">
                          </div>
                          <div class="mt-4 mb-4">
                              <button type="submit"
                                  class="btn btn-primary btn-block menu-cor" [attr.disabled]="loginForm.invalid || null" >Acessar</button>
                                  <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible d-flex align-items-center fade show">{{mensagemErro}}</div>
                          </div>

                          <a href="https://trocasenha.autoglass.com.br/authorization.do" class="mt-3 btn-link">
                              Esqueceu sua senha?
                          </a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="col-lg-7 menu-cor d-flex align-items-center min-vh-50 mt-4 mt-lg-0">
          <div class="col">
              <span class="text-white h5">SEJA BEM-VINDO AO</span>
              <h1 class="text-white text-uppercase font-weight-bold mt-2">SISTEMA FINANCEIRO</h1>
          </div>
      </div>
  </div>
</div>




