<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Cadastro de Despesas
            </div>
        </div>

        <form class="form-page" [formGroup]="despesaForm" (submit)="inserir()">

            <div class="row">
                <div class="group-row">
                    <label>Nome</label>
                    <input type="text" name="name" id="name" placeholder="Nome" formControlName="Nome" required />
                    <label class="error-input" *ngIf="despesaForm.get('name')?.errors?.['required'] &&
                    despesaForm.get('name')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Valor</label>
                    <input type="number" name="valor" id="valor" placeholder="Valor" formControlName="Valor" required />
                    <label class="error-input" *ngIf="despesaForm.get('valor')?.errors?.['required'] &&
                    despesaForm.get('valor')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Data de vencimento</label>
                    <input type="date" name="data" id="data" placeholder="Data" formControlName="data" required />
                    <label class="error-input" *ngIf="despesaForm.get('data')?.errors?.['required'] &&
                    despesaForm.get('data')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Categoria:</label>
                        <select class="form-control"  [(ngModel)]="categoriaSelecionadoId" 
                        formControlName="IdCategoria">
                            <option value="">Selecione...</option>
                            <option *ngFor="let categoria of categorias.Registros" [ngValue]="categoria.Id">
                                {{categoria.Nome}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Usuario:</label>
                        <select class="form-control"  [(ngModel)]="usuarioSelecionadoId" 
                        formControlName="IdUsuario">
                            <option value="">Selecione...</option>
                            <option *ngFor="let usuario of usuarios.Registros" [ngValue]="usuario.Id">
                                {{usuario.Email}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>

        </form>

    </div>

</div>